<% content_for :pagetitle do %>
  About GLBRC Strains
<% end %>

<br />
<p>
  Sardi et al. 165 strains:
</p>
<p>
  Sardi,M., Gasch, A., et al.
  Genome-wide association across Saccharomyces cerevisiae strains reveals substantial
  variation in underlying gene requirements for toxin tolerance.
  PLoS Genet. 2018 Feb; 14(2): e1007217
</p>
<h3>Description:</h3>
<p>
  165 Saccharomyces cerevisiae strains, representing a range of geographical and
  ecological niches, that have high quality whole genome sequencing reads, coming
  from published sequencing projects across the yeast community.
</p>
<br />
<img src=<%= asset_pack_path('media/packs/images/GLBRC_165strains.jpg') %> >

