<div class='col-md-6' style="margin: 5% auto 0% auto">
  <div class='card'>
    <div class='card-header' style="background-color: #1a3747; color: white">
      Session Error
    </div>
    <div class='card-body'>
      Your application session is stale. Please click <%= link_to("here", new_user_session_path) %> to sign in again.
    </div>
  </div>
</div>