<%= content_for :pagetitle do %>
  About 1011 Genome Strains
<% end %>
  <br />
  <br />
  <p>
    Peter et al. 1011 genomes:
  </p>
  <p>
    Jackson, P.,Schacherer,J., et al.
    Genome evolution across 1,011 Saccharomyces cerevisiae isolates
    Natue, 2018 April 19, Vol(556), 339
  </p>
  <h3>Description:</h3>
  <p>
    The isolates included in this project were carefully selected to be representative
    of the S. cerevisiae whole species.
  </p>
  <br />
  <img src=<%= asset_pack_path('media/packs/images/Joseph Schacherer_Fig1_HTML.jpg') %> >

