<footer id="main-footer" role="contentinfo" aria-label="Footer">
  <div class="container">
    <small class='pull-right'>Version: <%= $VERSION %> © Copyright Great Lakes Bioenergy Research Center 2019. All rights reserved.</small>
  </div>
</footer>