<div id='sidebar-container' class='sidebar-expanded d-none d-md-block'>
  <ul id="sidebar-list" class='list-group'>
    <li class='list-group-item'>
      Menu Item1
    </li>
    <li class='list-group-item'>
      Menu Item2
    </li>
  </ul>
</div>
